<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.android.material">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App.Light">

        <activity
            android:name=".ui.activity.AccentFixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Grey50.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.AnimationActivity"
            android:theme="@style/Theme.Purple.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.ContactsActivity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.ComposeEmailActivity"
            android:label="@string/title_activity_compose_email"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Pink.Light.DarkActionBar"/> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.DeveloperModeActivity"
            android:label="@string/title_activity_developer_mode"
            android:parentActivityName=".ui.activity.ComponentsActivity" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.DummyInlineButtons1Activity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyInlineButtons2Activity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyInlineButtons3Activity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyPersistentFooterButtonsActivity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.FixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.LayoutActivity"
            android:theme="@style/Theme.Pink.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.LockedFixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MaterialDesignActivity"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.MyFilesActivity"
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.PatternsActivity"
            android:theme="@style/Theme.Orange.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.RegisterApplicationActivity"
            android:label="@string/title_activity_register_application"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light.DarkActionBar" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterContactActivity"
            android:label="@string/title_activity_register_contact"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light.DarkActionBar" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterEventActivity"
            android:label="@string/title_activity_register_event"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Teal.Light.DarkActionBar" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterNoteActivity"
            android:label="@string/title_activity_register_note"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Teal.Light.DarkActionBar" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.ResourcesActivity"
            android:theme="@style/Theme.LightBlue.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.ScrollableTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Indigo.Light.DarkActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.ComponentsActivity" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.StyleActivity"
            android:theme="@style/Theme.Teal.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.SystemIconsActivity"
            android:theme="@style/Theme.Grey50.Light"
            android:label="@string/title_activity_system_icons"
            android:parentActivityName=".ui.activity.StyleActivity"/>
        <activity
            android:name=".ui.activity.UsabilityActivity"
            android:theme="@style/Theme.BlueGrey.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.WhatIsMaterialActivity"
            android:theme="@style/Theme.LightBlue.Light.NoActionBar.TranslucentStatus"/>
        <activity
            android:name=".ui.activity.WhatsNewActivity"
            android:theme="@style/Theme.LightBlue.Light.NoActionBar.TranslucentStatus"/>
    </application>

</manifest>
