<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.erictruong.material.training">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.material_design.MaterialDesignActivity"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.what_is_material.WhatIsMaterialActivity"
            android:theme="@style/LightBlue.NoActionBar"/>
        <activity
            android:name=".ui.animation.AnimationActivity"
            android:theme="@style/Purple.NoActionBar"/>
        <activity
            android:name=".ui.style.StyleActivity"
            android:theme="@style/Teal.NoActionBar"/>
        <activity
            android:name=".ui.layout.LayoutActivity"
            android:theme="@style/Pink.NoActionBar"/>
        <activity
            android:name=".ui.components.ComponentsActivity"
            android:theme="@style/Indigo.NoActionBar"/>
        <activity
            android:name=".ui.patterns.PatternsActivity"
            android:theme="@style/Orange.NoActionBar"/>
        <activity
            android:name=".ui.usability.UsabilityActivity"
            android:theme="@style/BlueGrey.NoActionBar"/>
        <activity
            android:name=".ui.resources.ResourcesActivity"
            android:theme="@style/LightBlue.NoActionBar"/>
        <activity
            android:name=".ui.whats_new.WhatsNewActivity"
            android:theme="@style/LightBlue.NoActionBar"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"/>

        <activity
            android:name=".ui.components.lists.SampleListActivity"
            android:label="@string/title_sample"
            android:theme="@style/Grey50"/>
        <activity
            android:name=".ui.components.lists_controls.SampleListControlActivity"
            android:label="@string/title_sample"
            android:theme="@style/Grey50"/>
        <activity
            android:name=".ui.components.tabs.FixedTabBarActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.ExtendedAppBarTabBarActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.PinnedTabBarActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.ColoredTabBarActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Grey50.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.ScrollableTabBarActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.FixedTabBarIconsActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Cyan.NoActionBar"/>
        <activity
            android:name=".ui.components.tabs.ColoredTabBarIconsActivity"
            android:label="@string/title_page_title"
            android:theme="@style/Grey50.NoActionBar"/>
        <activity
            android:name=".ui.components.steppers.MobileStepTextActivity"
            android:label="@string/title_sample"
            android:theme="@style/LightBlue.NoActionBar"/>
        <activity
            android:name=".ui.components.steppers.MobileStepProgressBarActivity"
            android:label="@string/title_sample"
            android:theme="@style/LightBlue.NoActionBar"/>

        <activity
            android:name=".ui.patterns.swipe_to_refresh.SampleSwipeToRefreshActivity"
            android:label="@string/title_sample"
            android:theme="@style/Grey50"/>
    </application>
</manifest>
