<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.android.material">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App.Light">

        <activity
            android:name=".ui.activity.AccentFixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Grey50.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light.NoActionBar.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ComposeEmailActivity"
            android:label="@string/title_activity_compose_email"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Pink.Light"/> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.DeveloperModeActivity"
            android:label="@string/title_activity_developer_mode"
            android:parentActivityName=".ui.activity.ComponentsActivity" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.DummyInlineButtons1Activity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyInlineButtons2Activity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyInlineButtons3Activity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.DummyPersistentFooterButtonsActivity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>
        <activity
            android:name=".ui.activity.FixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.LockedFixedTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.PatternsActivity"
            android:theme="@style/Theme.Orange.Light.NoActionBar.TranslucentStatus" />
        <activity
            android:name=".ui.activity.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Indigo.Light">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.ComponentsActivity" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterApplicationActivity"
            android:label="@string/title_activity_register_application"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterContactActivity"
            android:label="@string/title_activity_register_contact"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Indigo.Light" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterEventActivity"
            android:label="@string/title_activity_register_event"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Teal.Light" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.RegisterNoteActivity"
            android:label="@string/title_activity_register_note"
            android:parentActivityName=".ui.activity.ComponentsActivity"
            android:theme="@style/Theme.Teal.Light" /> <!-- TODO: Set real parent activity. -->
        <activity
            android:name=".ui.activity.ScrollableTabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.Cyan.Light.NoActionBar.TranslucentStatus" />

        <activity
            android:name=".ui.activity.ContactsActivity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>

        <activity
            android:name=".ui.activity.MyFilesActivity"
            android:label=""
            android:theme="@style/Theme.Grey50.Light"/>
    </application>

</manifest>
